@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);

  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);

  }
  100% {
    transform: translateX(0);
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #eb7494 0deg,
    #ae77b2 55deg,
    #97b5da 120deg,
    #0099ca 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #ff8b7e 0deg,
    #e24e6b 160deg,
    #7ed2da 120deg,
    #8bdce0 55deg,
    transparent 360deg
  );
}
body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity:0.8
}
body::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter:blur(90px);  
  top: calc(50vh - 50vw/2);
  left: calc(50vw );
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter:blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* body {
  color: rgb(var(--foreground-rgb));
} */
.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none z-10;
}
.hero {
  @apply flex xl:flex-row flex-col gap-5
  relative z-0 max-w-[1440px] mx-auto;
}
.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen z-10;
}

.hero__image {
  @apply relative xl:w-[80%] w-[70%] xl:h-full h-[590px] z-10;
}

.flipped {
  transform: scaleX(-1);
}

.hero__title {
  @apply text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] font-light mt-5;
}